// Styles for buttons
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

.btn {
	display: inline-block;
	text-align: center;
  	vertical-align: middle;
  	cursor: pointer;
  	color: $dark-gray;
  	@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
}
.red {
	background-color: $red;
	color: $white;
}
