// Styles for buttons
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

input[type="submit"] {
	border: none;
}

.btn {
	display: inline-block;
	text-align: center;
  	vertical-align: middle;
  	cursor: pointer;
  	color: $dark-gray;
}
.red {
	background-color: $red;
	color: $white;
}

.fb {
	background-color: $fb-blue;
	a {
		color: $white;
	}
}

.big {
	@include button-size($padding-xl-vertical, $padding-xl-horizontal, $font-size-xl, $line-height-xl, $border-radius-xl);
}

.small {
	@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
}

.xxl {
	@include button-size($padding-xl-vertical, $padding-xxl-horizontal, $font-size-xl, $line-height-xl, $border-radius-xl);
}

.xxxl {
	font-weight: 400;
	@include button-size($padding-xl-vertical*2, $padding-xl-horizontal, $font-size-xxl, $line-height-xl, $border-radius-xl);
}
.white {
	border: none;
	font-family: inherit;
	font-size: $font-size-h1;
	color: $white;
	background: none;
	padding: 25px 70px;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
	border: 3px solid $white;
	border-radius: $border-radius-xl;
}
.white:hover,
.white:active {
	color: $red;
	background: $white;
}
@media only screen and (max-width: 980px) {
	.white {
		font-size: $font-size-h2;
		padding: 15px 50px;
	}
}
