@import 'variables';
@import 'icons';
@import 'buttons';
@import 'forms';
@import 'modal';
@import 'clearfix';
@import 'grid';

body { 
	width: 100%;
	font-weight: 300;
	font-family: $lato;
	font-size: $font-size-base;
 }

 h1 {
	color: $gray;
	font-weight: 300;
	font-size: $font-size-h1;
	margin-top: 0px;
}
h2 {
	color: $gray;
	font-weight: 400;
	font-size: $font-size-h2;
	margin-top: 0px;
}

.qHeading{
	margin-bottom: 0px;
}

h4 {
	margin-bottom: 0px;
}

p {
	margin: 0;
}

header {
	width: 100%;
	height: 60px;
	background-color: $white;
	border-bottom: 1px solid #e5e5e5;
	ul {
		list-style: none;
		float: right;
		margin-right: 60px;
		li {
			float: left;
			a {
				margin-right: 20px;
				color: $dark-gray;
				display: block;
				.icon {
					width: $icon-size;
					padding-top: $padding-base-vertical;
					padding-right: $padding-xs-horizontal;
					cursor: pointer;
						i {
							font-size: $font-size-h1;
							color: $gray;
						}

				}
			}
			
		}
	}
}

	.navtoggle {
		display: none;
		
		cursor: pointer;
		i {
			z-index: -1;
		}
	}



// smaller than 519px 32.438em
@media (max-width: 980px) {
	
	// hiding/showing menu link 
	.nav {
		height: 50px;
		li{
			a {
				display: none;
			}
		}
		.hide {
			display: none;
		}
		.show {
			display: block;
			width: auto;
			background-color: $white;
			padding: 20px;
			z-index: 1114;
			position: relative;
		}
		.navtoggle {
			display: block;
			padding-left: 180px;
		}
	}
	
	// styling logo + btn
	ul.left {
		display: none;
	}

	.nav {
		margin-right: 0;
		ul {
			margin: 0;
			max-height: 30em;
		}
		li {
			float: none;
		}
	}

	.logo {
		margin-left: 20px !important; 
	}
	
	// showing alt-data
	.show:after {
		content: attr(data-alt);
	}	
}

// Footer
footer {
	width: 100%;
	height: 70px;
	background-color: $dark-gray;
	margin-top: 50px; 
}

// Link Style
a {
	text-decoration: none;
}

.link {
	color: $red;
}

.xs {
	font-size: $font-size-xs;
}


.btn, .form-field, .separator{
	margin-bottom: $line-height-xl;
}

// Separator pop-up sign in and sign up
.separator {
    width:100%;
    text-align:center;
    box-sizing:border-box;
    margin-top: -5px;
}

.divider {
	padding-right: 10px;
    	display: inline-block;
    	padding: 0 5px;
    	vertical-align: middle;
}

.div-line {
	margin-top: 0px;
	border-bottom: 1px solid $gray;
	width: 45%;
	height: 3px;
	display: inline-block;
    	vertical-align: middle;
}

// home page
.cover {
	margin-top: -20px;
	//background-image:url("http://cookie.local:8000/assets/images/header.gif"); 
}
.image {
	display: inline-block;
	padding-top: 0px;
	width:100%;
	z-index: 8;
	background-position: center;
	background-size: cover;
}
.article {
	//background-image:url("assets/images/article.gif"); 
}
#welcome {
	z-index: 10;
	position: absolute;
	margin-top: -30%;
}
.read {
	z-index: 10;
	position: absolute;
	margin: -15% 0 0 25%;
}

.question {
	width: 100%;
}

.h-white {
	color: $white;
	font-size: $font-size-xxxl;
	letter-spacing: 1px;
	font-weight: 700;
}
.p-white {
	line-height: 140%;
	color: $white;
	font-size: $font-size-xxl;
	letter-spacing: 1px;
	font-weight: 400;
}

.date {
	margin-top: 10px;
}

.logo {
	margin-left: 60px;
}

@media only screen and (max-width: 1380px) {
	#welcome {
		margin-top: -34%;
	}
	.h-white {
		font-size: $font-size-xxxl - 4;
	}
	.p-white {
		font-size: $font-size-xxl - 6;
		letter-spacing: 0.5px;
	}
}

@media only screen and (max-width: 980px) {
	.read {
		margin: -23% 0 0 16%;
	}
	#welcome {
		display: none;
	}
}
