@import 'variables';
@import 'icons';
@import 'nav';
@import 'buttons';
@import 'forms';
@import 'clearfix';
@import 'grid';
@import 'search';
@import 'modals';
@import 'modal';
@import 'avatars';
@import 'elements';

.textarea {
	resize: none;
	height: auto;
}

// Footer
footer {
	width: 100%;
	height: 70px;
	background-color: $dark-gray;
	margin-top: 50px;
	@include center-block; 
}
.page-wrap {
	min-height: 100%;
  /* equal to footer height */
	margin-bottom: -120px; 
}
.page-wrap:after {
	content: "";
	display: block;
	height: 70px;
}


.btn, .form-field, .separator{
	margin-bottom: $line-height-xl;
}

// Separator pop-up sign in and sign up
.separator {
	width:100%;
	text-align:center;
	box-sizing:border-box;
	margin-top: -5px;
}

.divider {
	padding-right: 10px;
	display: inline-block;
	padding: 0 5px;
	vertical-align: middle;
}

.div-line {
	margin-top: 0px;
	border-bottom: 1px solid $gray;
	width: 45%;
	height: 3px;
	display: inline-block;
	vertical-align: middle;
}

// home page
.cover {
	margin-top: -20px;
}
.image {
	display: inline-block;
	padding-top: 0px;
	width:100%;
	z-index: 8;
	background-position: center;
	background-size: cover;
}
#welcome {
	z-index: 10;
	position: absolute;
	margin-top: -33%;
}
.read {
	background-image: url("../images/article.gif");
	z-index: 10;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: 256px;
	div {
		padding-top: 80px;
		width: 380px;
		@include center-block;
	}
}

.question {
	width: 100%;
}

.white-txt {
	color: $white;
}

.h-white {
	color: $white;
	font-size: $font-size-xxxl;
	letter-spacing: 1px;
	font-weight: 700;
}
.p-white {
	line-height: 140%;
	color: $white;
	font-size: $font-size-xxl;
	letter-spacing: 1px;
	font-weight: 400;
}

.date {
	margin-top: 10px;
}

.logo {
	margin-top: 4px;
	margin-left: 60px;
}


.tag {
	margin-bottom: 2px;
}

.s-tag {
	margin-bottom: 20px;
}

.center-block {
	@include center-block;
}

// Explore all -> Question template style
.block {
	display: block;
	position: relative;
	padding: 50px;
	border-bottom: 0.5px solid $gray;
	border-top: 1px solid $gray;
	line-height: 1.1;
}

.block-image {
	display: block;
	width: 140px;
	position: absolute;
	top: 50%;
	margin-top: -60px;
}

.block-body {
	margin-left: 165px;
	margin-bottom: -5px;
	width: 65%;
}

.block-button {
	display: block;
	width: 10%;
	margin-top: -120px;
	float: right;
}

.msg-body {
	width: 100%;
	p{
		font-size: $font-size-base + 2;
		line-height: 24px;
	}
}

// ====================question=template===================


// Profile 
.push {
	padding-left: 1.6%;
}


// Static pages
.section-content {
	width: 80%;
	@include center-block;
	margin: 0 3em;
	.msg-body {
		p {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 30px;
		}
	}
}

// autocomplete styling
ul {
	list-style: none;
	.ui-menu-item {
		display: inline-block;
		color: $white;
		background-color: $navy;
		margin-right: 10px;
		margin-top: 7px;
		@include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xxs, $line-height-xs, $border-radius-xs);
		&:hover,
		&:focus {
			background-color: darken($navy, 5%);
		}
	}
}

// messages pg and msgin system
.msg-block {
	padding-left: 10%;
}

.msgBox {
	width:100%;
	max-width: 900px;
	height: 600px;
	border: 1px solid lighten($gray, 50%);
	border-radius: $border-radius-base;

	.usersCol {
		display: block;
		padding: 0px;
		margin: 0px;
		width: 33.33%;
		max-width: 300px;
		height: 600px;
		float: left;
		border-right: 1px solid lighten($gray, 50%);

		ul {
			margin: 0px;
			padding: 0px;
			li {
				padding: 16px;
				min-height: 70px;
				.user-name {
					margin-top: -40px;
					margin-left: 36%;
					span {
						font-size: $font-size-xl;
					}
				}
				border-bottom: 1px solid lighten($gray, 50%);
			}
		}
	}
	.msgsCol {
		display: block;
		padding: 0px;
		margin: 0px;
		width: 66.66%;
		max-width: 600px;
		height: 600px;
		float: right;
		margin-top: -600px;
		overflow: auto;
		.msgs{
			height: 510px;
			overflow: auto;
			ul {
				margin-top: 373px;
				margin: 0px;
				padding: 0px;
				li {
					padding: 16px;
					.user-name {
						margin-left: 70px;
						margin-top: -54px;
						span {
							font-weight: 400;
						}
					}
					.msg-body{
						width: 100%;
					}
				}
			}
		}
		.msgsRow {
			padding: 20px 30px 0px 60px;
			border-top: 1px solid lighten($gray, 50%);
		}
	}
}

.msg-title {
	background-color: lighten($gray, 65%);
	margin-left: 1px;
	border-bottom: 1px solid lighten($gray, 50%);
	div {
		margin-left: auto;
		margin-right: auto;
		width: 20%;
		p {
			font-weight: 400;
		}
	}
}

@import 'media';
