@import 'variables';
@import 'icons';
@import 'buttons';
@import 'forms';
@import 'clearfix';
@import 'grid';
@import 'search';
@import 'modals';
@import 'modal';


html, body {
  height: 100%;
}

body { 
	width: 100%;
	font-weight: 300;
	font-family: $lato;
	font-size: $font-size-base;
 }

 button {
 	border: 0;
 	background: none;
 	color: none;
 }

 h1 {
	color: $gray;
	font-weight: 300;
	font-size: $font-size-h1;
	margin-top: 0px;
}
h2 {
	color: $gray;
	font-weight: 400;
	font-size: $font-size-h2;
	margin-top: 0px;
}

.qHeading{
	margin-bottom: 0px;
}

h4 {
	margin-bottom: 0px;
}

p {
	margin: 0;
}

header {
	width: 100%;
	height: 60px;
	background-color: $white;
	border-bottom: 1px solid #e5e5e5;
	ul {
		list-style: none;
		float: right;
		margin-top: 18px;
		margin-right: 60px;
		li {
			float: left;
			a {
				margin-right: 20px;
				color: $dark-gray;
				display: block;
				.icon {
					width: $icon-size;
					padding-top: $padding-base-vertical;
					padding-right: $padding-xs-horizontal;
					cursor: pointer;
						i {
							font-size: $font-size-h1;
							color: $gray;
						}

				}
			}
			
		}
	}
}


.textarea {
	resize: none;
	height: auto;
}

.nav{
	.navtoggle {
		display: none;
		cursor: pointer;
		float:right;
		padding: 0.5em 0.5em 0.8em;
		text-align: right;
		color: $gray;
		font-size: $font-size-h1;
		background: none;	
		border: none;
		cursor: pointer;
			i {
				z-index: -1;
			}
	}
}


// smaller than 980px
@media (max-width: 980px) {
	
	// hiding/showing menu link 
	.nav {
		height: 60px;
		// max-width: 1250px;
		.no{
			display:none;
		}
		li{
			a {
				display: none;
			}
		}
		.hide {
			display: none;
		}
		.show {
			display: block;
			width: 100%;
			background-color: darken($white,2%);
			// border-bottom: 2px solid lighten($gray,20%);
			width: 470px;
			height: 20px;
			padding: 20px;
			z-index: 1114;
			position: relative;
			&:hover,
			&:focus {
				background-color: darken($white,10%);
			}

			img {
				display: none;
			}
		}
		.navtoggle {
			display: block;
		}
	}
	
	// styling logo + btn
	ul.left {
		display: none;
	}

	.nav {
		margin-right: 0;
		ul {
			margin: 0;
			max-height: 30em;
		}
		li {
			float: none;
		}
	}

	.logo {
		margin-bottom: 20px;
		margin-left: 5px !important; 
	}
	
	// showing alt-data
	.show:after {
		content: attr(data-alt);
	}
	
	.sb-search-input:focus {
		width: 380px;
	}

	header {
		width: auto;
		ul {
			margin-right: 0px;
			li {
				float: left;
				a {
					margin-right: 0px;
				}
			}
		}
	}	
}


// Footer
footer {
	width: 100%;
	height: 70px;
	background-color: $dark-gray;
	margin-top: 50px;
	@include center-block; 
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px; 
}
.page-wrap:after {
  content: "";
  display: block;
  height: 70px;
}


// Link Style
a {
	text-decoration: none;
}

.link {
	color: $red;
	&:hover,
	&:focus {
		color: darken($red, 5%);
		text-decoration: underline;
		cursor: pointer;
	}
}

.link-dark {
	color: $dark-gray;
	&:hover,
	&:focus {
		color: darken($dark-gray, 5%);
		text-decoration: underline;
		cursor: pointer;
	}
}

.xs {
	font-size: $font-size-xs;
	font-weight: 300;
}


.btn, .form-field, .separator{
	margin-bottom: $line-height-xl;
}

// Separator pop-up sign in and sign up
.separator {
    width:100%;
    text-align:center;
    box-sizing:border-box;
    margin-top: -5px;
}

.divider {
	padding-right: 10px;
    	display: inline-block;
    	padding: 0 5px;
    	vertical-align: middle;
}

.div-line {
	margin-top: 0px;
	border-bottom: 1px solid $gray;
	width: 45%;
	height: 3px;
	display: inline-block;
    	vertical-align: middle;
}

// home page
.cover {
	margin-top: -20px;
	//background-image:url("http://cookie.local:8000/assets/images/header.gif"); 
}
.image {
	display: inline-block;
	padding-top: 0px;
	width:100%;
	z-index: 8;
	background-position: center;
	background-size: cover;
}
#welcome {
	z-index: 10;
	position: absolute;
	margin-top: -30%;
}
.read {
	background-image: url("../images/article.gif");
	z-index: 10;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: 256px;
	div {
		padding-top: 80px;
		width: 380px;
		@include center-block;
	}
}

.question {
	width: 100%;
}

.white-txt {
	color: $white;
}

.h-white {
	color: $white;
	font-size: $font-size-xxxl;
	letter-spacing: 1px;
	font-weight: 700;
}
.p-white {
	line-height: 140%;
	color: $white;
	font-size: $font-size-xxl;
	letter-spacing: 1px;
	font-weight: 400;
}

.date {
	margin-top: 10px;
}

.logo {
	margin-top: 4px;
	margin-left: 60px;
}

//position el in the center of a div
.centered {
	background-size: auto;  
	margin-left: 45%;
	margin-right: 15%; 
	width: 25%;
}

@media only screen and (max-width: 1380px) {
	#welcome {
		margin-top: -36%;
	}
	.h-white {
		font-size: $font-size-xxxl - 6;
	}
	.p-white {
		font-size: $font-size-xxl - 8;
		letter-spacing: 0.5px;
	}

	.xxxl {
		@include button-size($padding-xl-vertical, $padding-xl-horizontal, $font-size-xl, $line-height-xl, $border-radius-xl);
	}
}

@media only screen and (max-width: 980px) {

	#welcome {
		display: none;
	}
	footer {
		padding-top: 20px;
		height: 100px;
		@include center-block;
	}
}

.tag {
	margin-bottom: 2px;
}

.s-tag {
	margin-bottom: 20px;
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	@include center-block;
}

.thumbnail {
	padding: 4px 0px;
	margin-top: -5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.post-avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	@include center-block;
}

.center-block {
	@include center-block;
}

// Explore all -> Question template style
.block {
	display: block;
	position: relative;
	padding: 50px;
	border-bottom: 0.5px solid $gray;
	border-top: 1px solid $gray;
	line-height: 1.1;
}

.block-image {
	display: block;
	width: 140px;
	position: absolute;
	top: 50%;
	margin-top: -60px;
}

.block-body {
	margin-left: 165px;
	margin-bottom: -5px;
	width: 65%;
}

.block-button {
	display: block;
	width: 10%;
	margin-top: -120px;
	float: right;
}

.msg-body {
	width: 100%;
	p{
		font-size: $font-size-base + 2;
		line-height: 24px;
	}
}

// ====================question=template===================


// Profile 
.push {
	padding-left: 1.6%;
}

@media only screen and (max-width: 980px) {

	.block-image {
		display: none;
	}
	.block-body {
		margin-left: 0px;
	}
	.block-button {
		margin-top: -220px; 
	}
	.push {
		padding-left: 0.1%;
	}
}
// Static pages
.section-content {
	width: 80%;
	@include center-block;
	margin: 0 3em;
	.msg-body {
		p {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 30px;
		}
	}
}

// autocomplete styling
ul {
	list-style: none;
	.ui-menu-item {
		display: inline-block;
		color: $white;
		background-color: $navy;
		margin-right: 10px;
		margin-top: 7px;
		@include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xxs, $line-height-xs, $border-radius-xs);
		&:hover,
		&:focus {
			background-color: darken($navy, 5%);
		}
	}
}